sudo dnf install https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
dnf install ansible

pip3 install boto3
pip3 install boto 

# For Python Pyaudio
yum install gcc
yum install gcc perl make
dnf install portaudio-devel
yum install python3-devel
pip3 install speechrecognition
pip3 install pyaudio

# AWS installation
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip awscliv2.zip
sudo ./aws/install
